<table class='table table-sm'>
  <thead class='thead-dark'>
    <tr>
      <th>Name</th>
      <th>Unit Price</th>
      <th>Total Price</th>
      <th colspan=2></th>
    </tr>
  </thead>
  
  <tbody id='items'>
    <%= turbo_stream_from "items" %>
    <% items.each do |item| %>
      <% cache item do %>
        <%= render item %>
      <% end %>
    <% end %>
  </tbody>
</table>
