<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contributor.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @contributor.project_id %>
</p>

<%= link_to 'Back', project_path(@project) %>
